# Dependencies
node_modules/
.pnp
.pnp.js

# Env
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database & Storage
*.db
*.sqlite
server/data/downloads/
server/data/uploads/
server/data/*.json

# Build
dist/
build/
*.tsbuildinfo

# Editor
.DS_Store
.idea
.vscode
*.swp

# Binaries
sldl
sldl.pdb
